body {
    width: 100%;
    height: 100dvh;
    padding: 0 160px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    padding-bottom: 20px;
}

.input_look {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;

    #note_input {
        margin-right: 16px;
    }
}

#trash_content {
    padding-top: 20px;
    padding-bottom: 10px;
}

#deleted_content {
    padding-top: 20px;
    padding-bottom: 10px;
}

h2 {
    padding-top: 30px;
    padding-bottom: 6px;
}
